.ing{
    width: 135px;
    margin: 3px;
}
.ings{
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
#ingn{
    width: 250px;
    margin: 3px
}

#i2164{
    background-color: rgba(7, 54, 14, 0.5);
}
#i2164i2147, #i2147i2164{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(7, 54, 14, 0.5)50%,
     rgba(157, 217, 246, 0.668) 50%);
}
#i2164i2144, #i2144i2164{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(7, 54, 14, 0.5)50%,
     rgba(236, 178, 242, 0.658)50% );
}
#i2164i2165, #i2165i2164{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(7, 54, 14, 0.5) 50%,
     rgba(146, 3, 249, 0.5) 50% );
}
#i2164i2197, #i2197-i2164{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(7, 54, 14, 0.5)50%,
     rgba(0, 202, 242, 0.942)50% );
}
#i2164i2101, #i2101i2164{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(7, 54, 14, 0.5)50%,
     rgba(255, 128, 0, 0.5) 50%);
}
#i2147{
    background-color: rgba(157, 217, 246, 0.668);
}
#i2147i2144, #i2144i2147{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(157, 217, 246, 0.668) 50%,
     rgba(236, 178, 242, 0.658) 50%);
}
#i2147i2165, #i2165i2147{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(157, 217, 246, 0.668) 50%,
     rgba(146, 3, 249, 0.5)50% );
}
#i2147i2197, #i2197i2147{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(157, 217, 246, 0.668) 50%,
     rgba(0, 202, 242, 0.942) 50% );
}
#i2147i2101, #i2101i2147{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(157, 217, 246, 0.668) 50%,
     rgba(255, 128, 0, 0.5) 50%);
}


#i2144{
    background-color: rgba(236, 178, 242, 0.658);
}
#i2144i2165, #i2165i2144{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(236, 178, 242, 0.658) 50%,
     rgba(146, 3, 249, 0.5)50% );
}
#i2144i2197, #i2197i2144{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(236, 178, 242, 0.658) 50%,
     rgba(0, 202, 242, 0.942) 50%);
}

#i2144i2101, #i2101i2144{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(236, 178, 242, 0.658) 50%,
     rgba(255, 128, 0, 0.5) ) 50%;
}


#i2165{
    background-color: rgba(146, 3, 249, 0.5);
}
#i2165i2197, #i2197i2165{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(146, 3, 249, 0.5) 50%,
     rgba(0, 202, 242, 0.942) 50% );
}
#i2165i2101, #i2101i2165{
    border: none;
    text-decoration: bold;
    background: linear-gradient(
      to top left,
     rgba(146, 3, 249, 0.5) 50%,
     rgba(255, 128, 0, 0.5) 50%);
}

#i2197{
    background-color: rgba(0, 202, 242, 0.942);
}

#i2101{
    background-color: rgba(255, 128, 0, 0.5);
}
